<div class="example-container">
	<h2>To do</h2>

	<div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList]"
		class="example-list" (cdkDropListDropped)="drop($event)">
		<div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
	</div>
</div>

<div class="example-container">
	<h2>Done</h2>

	<div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]"
		class="example-list" (cdkDropListDropped)="drop($event)">
		<div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
	</div>
</div>

<table>
	<tr>
		<th>

			<form [formGroup]="form" >
				<label formArrayName="orders" *ngFor="let order of form.controls.orders.controls; let i = index">
    <input type="checkbox" [formControlName]="i">
    {{ordersData[i].name}}
    
  </label>
  </form>
		</th>
		<th>
      <form [formGroup]="form" (ngSubmit)="submit()">
			<button>submit</button>
			</form>
		</th>
	</tr>
</table>